* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

.contenedor {
  width: 98%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

header {
  width: 100%;
  background: url("../img/bg.jpg") #281a0c;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}

header .contenedor {
  position: relative;
  height: 43.75rem;
}

header nav {
  width: 100%;
  text-align: right;
}

header nav ul li {
  display: inline-block;
  margin: 40px 20px;
}

header nav ul li a {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
}

header nav ul li a::after {
  background: transparent;
  bottom: 0;
  content: "";
  height: .125rem;
  left: 50%;
  position: absolute;
  background: #fff;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}

header .checkbtn {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 5rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

header #check, header .checkbtn {
  display: none;
}

header .textos {
  width: 100%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -52px;
}

header .textos .nombre {
  font-size: 3.125rem;
  font-weight: 600;
}

header .textos .nombre span {
  font-weight: 300;
}

header .textos h3 {
  font-weight: 300;
  font-size: 1.5625rem;
  font-style: italic;
}

main {
  background: url("../img/bg-textura.png");
  background-repeat: repeat;
}

main .acerca-de .contenedor {
  overflow: visible;
  position: relative;
}

main .acerca-de .foto {
  width: 80%;
  position: absolute;
  left: 0;
  top: -60px;
  z-index: 0;
  -webkit-box-shadow: 14px 14px 23px -11px rgba(0, 0, 0, 0.45);
          box-shadow: 14px 14px 23px -11px rgba(0, 0, 0, 0.45);
}

main .acerca-de .foto img {
  vertical-align: top;
  width: 100%;
}

main .acerca-de article {
  background: #ffffff;
  padding: 40px;
  width: 50%;
  position: absolute;
  top: 220px;
  right: 0;
  z-index: 1;
  -webkit-box-shadow: 14px 14px 23px -11px rgba(0, 0, 0, 0.45);
          box-shadow: 14px 14px 23px -11px rgba(0, 0, 0, 0.45);
}

main .acerca-de article h3 {
  font-size: 3.125rem;
  font-weight: 300;
  margin-bottom: 40px;
}

main .acerca-de article p {
  line-height: 1.75rem;
  margin-bottom: 15px;
}

main .menu .titulo {
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 40px;
}

main .menu {
  padding-top: 600px;
  margin-bottom: 100px;
}

main .menu .contenedor-menu, main .menu .contenedor-menu2 {
  border: 1px solid #000000;
  background: transparent;
  padding: 10px;
  overflow: hidden;
}

main .menu article {
  width: 50%;
  float: left;
  padding: 20px;
}

main .menu .platillo {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 4px dotted #000000;
  overflow: hidden;
}

main .menu .nombre {
  font-size: 1.25rem;
  margin-bottom: 15px;
  float: left;
}

main .menu .precio {
  font-size: 1.25rem;
  margin-bottom: .9375rem;
  float: right;
}

main .menu .descripcion {
  font-size: 1rem;
  color: #676767;
  clear: both;
}

.carousel {
  margin-bottom: 100px;
}

.carousel .contenedor {
  width: 90%;
  margin: auto;
  position: relative;
}

.carousel .carousel__galeria {
  width: 80%;
  overflow: hidden;
}

.carousel .carousel__galeria .carousel__foto {
  margin: 5px;
}

.carousel .carousel__galeria img {
  border-radius: 5px;
}

.carousel .carousel__anterior,
.carousel .carousel__siguiente {
  position: absolute;
  display: block;
  font-size: 2.25rem;
  border: none;
  background: none;
  top: calc(50% - 25px);
  text-align: center;
  color: #a89cc8;
  opacity: 20%;
  z-index: 1;
}

.carousel .carousel__anterior:hover,
.carousel .carousel__siguiente:hover {
  opacity: 100%;
  -webkit-transition: .3s;
  transition: .3s;
}

.carousel .carousel__anterior {
  left: 0px;
}

.carousel .carousel__siguiente {
  right: 0px;
}

main .contacto {
  margin-top: 20px;
  background: #8A897C;
  text-align: center;
  padding: 30px 0;
}

main .contacto a {
  color: #ffffff;
  padding: 20px 30px;
  width: auto 20px;
  text-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 1.875rem;
  margin: 0 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

main .contacto p {
  color: #ffffff;
  padding: 15px 0;
  text-align: center;
  display: block;
  font-size: 1.25rem;
}

main .contacto .facebook:hover {
  background-color: #3b5998;
}

main .contacto .instagram:hover {
  background-color: #e1306c;
}

footer {
  background: #000000;
}

footer .copyright {
  text-align: center;
  padding: 10px 0;
  color: #ffffff;
  font-weight: 300;
  font-size: .625rem;
}

@media screen and (max-width: 50rem) {
  header {
    background-attachment: scroll;
  }
  header .contenedor {
    position: static;
    height: 60vh;
  }
  header .contenedor nav {
    position: fixed;
    z-index: 2;
  }
  header .contenedor nav .checkbtn {
    display: block;
    position: relative;
    z-index: 3;
  }
  header .contenedor nav ul {
    position: absolute;
    width: 50vw;
    padding-top: 2rem;
    height: 100vh;
    right: -100%;
    background-color: #56330f;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  header .contenedor nav ul li {
    display: block;
    margin: 3.125rem;
    line-height: 1.875em;
    font-size: 1.25rem;
  }
  header .contenedor nav ul li a {
    font-size: 1.25rem;
  }
  header .contenedor nav #check:checked ~ ul {
    right: 0;
  }
  header .textos {
    position: static;
    margin: 100px 0;
  }
  header .textos .nombre {
    font-size: 2.875rem;
  }
  header .textos h3 {
    font-size: 1.125rem;
  }
  main .acerca-de .foto {
    margin-top: 100px;
    width: 100%;
  }
  main .acerca-de .contenedor article {
    position: relative;
    width: 100%;
  }
  main .menu {
    padding-top: 300px;
  }
  main .menu article {
    width: 100%;
  }
  main .carousel__contenedor {
    widht: 100%;
  }
  main .carousel__contenedor .carousel__foto {
    width: 100%;
  }
  main .carousel__contenedor .carousel__anterior {
    left: 0px;
  }
  main .carousel__contenedor .carousel__siguiente {
    right: 0px;
  }
}

@media screen and (max-width: 25rem) {
  header .contenedor nav ul {
    width: 60vw;
  }
  main .acerca-de article h3 {
    font-size: 2.125rem;
    margin-bottom: 10px;
  }
  main .menu article .nombre, main .menu article .precio {
    font-size: 1rem;
    line-height: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */